
{:pom {:group-id "respo",
       :artifact-id "composer",
       :version "0.1.12-a2+i",
       :name "Respo composer renderer library"}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}
             :excludes {:filters ["src/composer/comp/*.*"]}}
 :scm {:enabled true}}
